<div id="<%= dom_id duct_line %>">
  <p>
    <strong>Name:</strong>
    <%= duct_line.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= duct_line.image %>
  </p>

  <p>
    <strong>Pdf document:</strong>
    <%= duct_line.pdf_document %>
  </p>

</div>
